{{ define "bar" }}
<section class="section">
  <div>
      <form action="login" method="POST">
          <input type="text" placeholder="Username" name="username">
          <input type="password" placeholder="Password" name="password">
          <button type="submit">Login</button>
      </form>
  </div>
</section>
{{ end }}
